.DS_Store
*~*
*.o
*.a
*.so

_obj
_test

.idea/
*.iml
*.swp

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
.vscode
.env
mongo-init.js
vendor
docker
tmp
*.txt
*.csv
.aws

docker-compose*